doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='description', content='Lucas Farmer')
		meta(name='author', content='Lucas Farmer')
		title #{title}
		META(HTTP-EQUIV='CACHE-CONTROL', CONTENT='NO-CACHE')
		script(src='vendors/p5js/p5.js')
		script(src='vendors/p5js/p5.dom.js')
		script(src='vendors/p5js/p5.sound.js')
		include vars
		script#sketch(src='js/sketches/' + sketch2)
		//- script#p5canvas
		//- script(src='js/randomCanvas.js')
	body