head
	meta(charset='UTF-8')
	meta(name='description', content='Lucas Farmer')
	meta(name='author', content='Lucas Farmer')
	title #{title}
	META(HTTP-EQUIV='CACHE-CONTROL', CONTENT='NO-CACHE')
	script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
	script(src='vendors/semantic-ui/semantic.min.js')
	script(src='vendors/semantic-ui/menu.js')
	script(src='vendors/semantic-ui/acivateModal.js')
	script(src='vendors/semantic-ui/projectSideMenu.js')
	script(src='vendors/semantic-ui/sManticMenu.js')
	script(src='vendors/p5js/p5.js')
	script(src='vendors/p5js/p5.dom.js')
	script(src='vendors/p5js/p5.sound.js')
	//- script(src='js/sketches/perlinNoise.js')
	//- script#p5canvas
	//- script(src='js/randomCanvas.js')
	link(rel='icon', href='img/favicon.ico')
	link(rel='stylesheet', href='vendors/semantic-ui/semantic.min.css')
	link(rel='stylesheet', href='vendors/semantic-ui/icon.min.css')
	link(rel='stylesheet', href='css/login.css')
	link(rel='stylesheet', href='css/style.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Amatic+SC|Astloch|Kumar+One+Outline|Press+Start+2P|Rye|Syncopate:400,700')

style.
	body {
	font-family: 'Alfa Slab One', cursive; font-size: 15px;
	}
	#menu {
	font-family: 'Syncopate';font-size: 15px;font-weight:800;
	}
	#header {
	font-family: 'Press Start 2P', cursive;
	}
	#foot {
	font-family: 'Press Start 2P', cursive;
	}