.ui.green.secondary.pointing.menu
	a.active.item(href='http://lucasfarmer.com')
		h2#menu.ui.header
			i.large.icons
				i.fort.awesome.icon
			| Home
	a.item(href='/projects')
		h2#menu.ui.header
			i.large.icons
				i.code.outline.icon
			| Projects
	a.item(href='/about')
		h2#menu.ui.header
			i.large.icons
				i.unhide.icon
			| About
	.right.menu
		a.ui.item(href='https://github.com/lucasfrmr')
			h2.ui.header
				i.small.icons
					i.github.icon
		a.ui.item(href='#')
			h2.ui.header
				i.small.icons
					i.talk.icon
		a.ui.item
			h2.ui.header
				i.small.icons
					i.privacy.icon(onclick='vendors/semantic-ui/acivateModal.js')