/*@media screen and (min-width: 1px) {
  #login-modal {
   width: 300px;
   height: 0px;
   margin-top: auto;
    margin: -100px
  }
}*/
#mainpagetext{
	text-align: center;
}
#foot{
	text-align: center;
	
}
.centered {
	text-align: center;
}
.ui.secondary.pointing.menu {
	padding-top: 5em;
}
/*a.item {
	color: green;
}*/
body{
  background-color: grey;
	/*overflow:hidden;*/
}
#sidemenu {
    color: white;
}
